<div
  class="xl:w-[80%] lg:w-[75%] md:[75%] sm:w-[70%] absolute top-20 bottom-0 right-0 flex justify-around p-5"
>
  <section
    class="flex transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-100 duration-300 flex-wrap justify-center text-center rounded-md shadow-md w-[40%] bg-[#1A3A3A] p-5 items-baseline text-white"
  >
    <div class="flex border-2 p-5 rounded-full">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-36"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
        />
      </svg>
    </div>

    <div class="w-full">
      <h1 class="w-full font-medium text-2xl">
        {{ userData?.nombre }}
      </h1>
      <p class="w-full font-medium text-lg">
        {{ rolUser }}
      </p>
    </div>
    <div class="w-full flex flex-wrap h-20 p-2 rounded-md border-2" *ngIf="isUser()">
      <p class="w-full text-lg font-medium">Nro de cuenta:</p>
      <p class="w-full">{{ accountData?.accountNumber }}</p>
    </div>
  </section>
  <section
    class="w-[50%] bg bg-white rounded-md shadow-md border-2 border-[#468585] p-5 flex flex-wrap justify-center text-gray-800"
  >
    <div class="w-full">
      <h1 class="w-full font-semibold text-gray-800 text-balance text-xl">
        Informacion personal:
      </h1>
    </div>
    <div class="w-full lg:text-lg md:text-base sm:text-sm p-2">
      <div class="w-full p-2 rounded-md m-1">
        <label for="Documento" class="font-medium">Documento:</label>
        <p id="Documento">{{ userData?.documento }}</p>
      </div>
      <div class="w-full p-2 rounded-md m-1">
        <label for="Documento" class="font-medium">Edad:</label>
        <p id="Documento">{{ userData?.edad }}</p>
      </div>
      <div class="w-full p-2 rounded-md m-1">
        <label for="Documento" class="font-medium">Sexo:</label>
        <p id="Documento">{{ userData?.sexo }}</p>
      </div>
      <div class="w-full p-2 rounded-md m-1">
        <label for="Documento" class="font-medium">Direccion:</label>
        <p id="Documento">{{ userData?.direccion }}</p>
      </div>
      <div class="w-full p-2 rounded-md m-1">
        <label for="Documento" class="font-medium">Correo:</label>
        <p id="Documento">{{ userData?.correo }}</p>
      </div>
    </div>
  </section>
</div>
