<div
  class="xl:w-[80%] lg:w-[75%] md:w-full min-[500px]:w-full absolute top-20 bottom-0 right-0 flex justify-around p-5 text-gray-800"
>
  <section
    class="w-[60%] bg bg-white rounded-md shadow-md border-2 border-[#468585] p-5 flex flex-wrap justify-center"
  >
    <form [formGroup]="formGroupTransfer">
      <h1 class="w-full font-medium text-xl">Transeferencias</h1>
      <div>
        <div
          class="py-2 px-8 h-[90px] rounded-md m-2 flex flex-wrap justify-between w-full items-center"
        >
          <label for="toAccount" class="text-md">Cuenta destinataria</label>
          <input
            type="text"
            id="toAccount"
            formControlName="toAccount"
            class="border-2 w-full rounded-md p-2 placeholder:text-slate-400 placeholder:text-md focus:outline-none focus:border-blue-300"
            placeholder="Nro de cuenta"
          />
          <!-- @if (formGroupTransfer.controls.toAccount.errors) {
          <mat-error class="text-sm mt-2 text-red-600"
            >Campo Invalido</mat-error
          >
          } -->
        </div>
        <div
          class="py-2 px-8 h-[90px] rounded-md m-2 flex flex-wrap justify-between w-full items-center"
        >
          <label for="amount" class="text-md">Monto a transferir</label>
          <input
            type="number"
            id="amount"
            formControlName="amount"
            class="border-2 w-full rounded-md p-2 placeholder:text-slate-400 placeholder:text-md focus:outline-none focus:border-blue-300"
            placeholder="Monto"
          />
          <!-- @if (formGroupTransfer.controls.toAccount.errors) {
          <mat-error class="text-sm text-red-600 mt-2"
            >Campo invalido</mat-error
          >
          } -->
        </div>
      </div>
    </form>
  </section>
  <section class="w-[35%]">
    <section
      class="w-full h-[60%] rounded-md shadow-md bg-[#1A3A3A] p-9 flex flex-wrap justify-center text-white"
    >
      <div class="w-full">
        <h1 class="w-full font-medium text-balance text-xl">Balance:</h1>
        <p
          class="w-full font-medium xl:text-[42px] lg:text-[42px] md:text-[40px] sm:text-[36px] min-[500px]:text-[28px]"
        >
          $ {{ accountData?.balance }}
        </p>
      </div>
      <div class="w-full flex flex-wrap h-20 border-2 p-2 rounded-md">
        <p class="w-full text-lg font-medium">Cuenta:</p>
        <p class="w-full">{{ accountData?.accountNumber }}</p>
      </div>
    </section>
    <section class="w-full h-[40%] bg-white p-9 flex flex-wrap justify-center">
      <button
        (click)="Transfer()"
        class="bg-white p-3 rounded-md font-semibold hover:bg-slate-200 w-[95%] border-2 m-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8 w-full"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
          />
        </svg>

        Transferir
      </button>
    </section>
  </section>
</div>
