<div class="overflow-x-auto">
  <div class="flex justify-end mb-4 bg-gray-200 rounded-md p-1">
    <input
      type="text"
      placeholder="Buscar..."
      class="px-4 py-2 border rounded-md"
      (input)="onFilterChange($event)"
    />
  </div>
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th
          *ngFor="let column of columns"
          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
        >
          {{ column.header }}
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr *ngFor="let item of paginatedData" class="hover:bg-gray-100">
        <td
          *ngFor="let column of columns"
          class="px-6 py-4 whitespace-nowrap text-sm text-gray-900"
        >
          {{ item[column.field] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<mat-paginator
  [length]="data.length"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
>
</mat-paginator>
